@font-face {
    font-family: translatedLanguage;
    src: url("fonts\\language.ttf");
}

.translated {
    font-family: translatedLanguage;
}

:root {
    --color-0: #132032;
    /* --color-0: #1a1d22; */
    --color-1: #235370;
    --color-2: #679396;
    --color-3: #d1e2d9;
    --color-4: #F5F4EF;
}
body {
    background-color: var(--color-0);
}
p {
    color: var(--color-3);
}
a {
    color: var(--color-2);
}
h1, h2, h3, h4, h5 {
    color: var(--color-3);
    filter: brightness(1.3);
}
hr {
    border-color: var(--color-3)
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
} 

.caption {
    color: var(--color-2);
}

img {
    display: block;
    margin-left: 2em;
    margin-right: 2em;
}

img.inner-image {
    width: 80%;
    margin: auto;
}

.fullish-width {
    width: 80% !important;
}

.half-width {
    width: 50% !important;
}

.third-width {
    width: 33.33% !important;
}

.quarter-width {
    width: 25% !important;
}

.eighth-width {
    width: 12.5% !important;
}
