/* Card Backgrounds */

#me {
    background-image: url('images/main/me.JPG');
    background-size: cover;
}

#relativity {
    background-image: url('images/main/relativity_splash.png');
}

#conlang {
    background-image: url('images/main/conlang_splash.jpeg');
    background-size: 100% 100%;
    filter: brightness(0.9) invert();
}

#artwork {
    background-image: url('images/artwork/digital_art/skybox.png');
    background-size: auto 100%;
}

#youtube {
    background-image: url('images/main/youtube_splash.png');
}

#gitlab {
    background-image: url('images/main/gitlab_splash.png');
}

#spring-2021-research {
    background-image: url('images/spring2021_research_report/OldMIRS3.PNG');
}

#coming-soon {
    background-image: url('images/main/empty_splash.png');
    filter: invert();
}

img.pixelated {
    image-rendering: pixelated;
}

/* Page Card CSS */
.page-card {
    display: grid;
    overflow: hidden;
    cursor: pointer;

    transition: all .1s linear;

    height: 16em;
    width: 12em;

    margin: 12px;
    border-width: 4px;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--color-1);

    background-color: var(--color-1);
}
.page-card div.page-card-image {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    left: -10%;
    top: -10%;

    transition: all .1s linear;

    height: 120%;
    width: 120%;

    background-position: center;
    background-size: auto 100%;
}
.page-card:hover {
    transform: scale(1.05);
}
.page-card:hover div.page-card-image {
    position: absolute;
    left: -10%;
    top: -10%;

    transform: scale(0.9);
}
.page-card div.page-card-image a {
    height: 100%;
    width: 100%;
}

/* Page Card Banner CSS */
.page-card-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: visible;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;

    height: 100%;
    width: 100%;

    box-shadow: inset 0px 0px 8px -2px var(--color-1);
}
.page-card-banner {
    position: relative;
    left: -20%;

    transition: all .1s linear;

    height: 2em;
    width: 140%;
    color: var(--color-0);

    margin-bottom: 15%;
    box-shadow: 2px 0px 2px var(--color-0);

    background-color: var(--color-3);
}
.page-card:hover .page-card-banner {
    transform: scale(0.95238);
}

/* Hidden Link */
.hidden-link:link {
    color: #000;
    text-decoration: none;
}
.hidden-link:hover {
    color: #000;
    text-decoration: none;
}
.hidden-link:visited {
    color: #000;
    text-decoration: none;
}
.hidden-link:active {
    color: #000;
    text-decoration: none;
}

/* Page Card Construction CSS */
.page-card-construction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: visible;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;

    transition: all .1s linear;
    transform: rotateZ(-45deg);

    height: 100%;
    width: 100%;
}
.page-card:hover .page-card-construction {
    z-index: 2;

    transform: rotateZ(-45deg);
}
.page-card-construction-text {
    position: relative;

    transition: all .1s linear;

    height: 2em;
    width: 100%;

    text-align: right;

    margin-bottom: 15%;
    box-shadow: 2px 0px 2px var(--color-0);

    background-color: palegoldenrod;
}
.page-card-construction-text p {
    font-size: 0.6em;
    color: var(--color-0);
    margin-top: 0;
    margin-bottom: 0;
}
.page-card:hover .page-card-construction-text {
    transform: scale(0.95238);
}